APP_ENV=development
PORT=8000
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/djsimulator?retryWrites=true&w=majority
SPOTIFY_CLIENT_ID=your_client_id
SPOTIFY_CLIENT_SECRET=your_client_secret
SPOTIFY_REDIRECT_URI=http://localhost:8000/api/v1/auth/callback
CORS_ORIGINS=http://localhost:5173,http://localhost:3000